.header{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__container{
    width: 100%;
    max-width: 71rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.header__logo{
    width: 100px;
    height: 28px;
    margin-right: 0.5rem;
}

.header__searchbarWrapper{
    width: 100%;
    height: 40px;
    display: none;
    align-items: center;
    border-radius: 20px;
    padding: 0 1rem 0rem 0rem;
    background-color: var(--preto-05);
}

.header__searchbar{
    width: 100%;
    height: 100%;
    border: none;
    background-color: transparent;
    margin-right: 0.5rem;
    padding: 0.5rem 0rem 0.5rem 1rem;
    color: var(--preto-50);
    font-family: 'Raleway', sans-serif;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1rem;
}

.header__searchbarIcon{
width: 24px;
height: 24px;
cursor: pointer;
}

.header__loginBtn{
    max-width: 8.3125rem;
    margin-right: 0.5rem;
}

.header__searchIcon{
    width: 24px;
    height: 24px;
    cursor: pointer;
}


@media screen and (min-width:768px){
    .header__container{
        padding: 1rem 2rem;
    }
    .header__logo{
    margin-right: 2rem;
    }
    .header__loginBtn{
        max-width: 10.375rem;
    } 
    .header__searchbarWrapper{
        max-width: 17rem;
        display: flex;
    }
    .header__searchIcon{
        display: none;
    }
    .header__loginBtn{
        margin-left: auto;
    }
}

@media screen and (min-width:1440px) {
    .header__logo{
    width: 176px;
    height: 50px;
    }
    .header__searchbarWrapper{
        max-width: 24.5625rem;
    }
    .header__loginBtn{
        max-width: 11.375rem;
        padding: 1rem;
        font-size: 1rem;
        font-weight: 400;
    } 
}